<% @title="Profile" %>   
<div class="site-wrapper">

      <div class="site-wrapper-inner ">

        <div class="cover-container">

          <div class="masthead clearfix">

            


              <div id="embossed"><h1 class="masthead-brand rdopad" data-toggle="tooltip" data-placement="bottom" title="Entrepreneur | Dreamer | Sylheti"><strong><u>|Neeraj Das|</u></strong></h1>

</div>

<div class="inner">
              <ul class="nav masthead-nav imgpad">
                <li class="active"><a href="http://neerajdas.herokuapp.com" data-toggle="tooltip" data-placement="bottom" title="About Me">Profile</a></li>
                <li><a href="/pages/work" data-toggle="tooltip" data-placement="bottom" title="My Works">Work</a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Me & friends">Blog</a></li>
              </ul>
            </div>
          </div>

<!--starts content here--->
<!--slider-->
<div class="inset cover-container imgpad">
<div id="myCarousel" class="carousel" data-ride="carousel">
<!-- Wrapper for slides -->
<div class="carousel-inner">
<div class="item active">

 <div  class="inner cover">
<div class="row">

 <p class="pull-left">           
<%= image_tag("12.jpeg",:class=>"pull-left imgpad inset") %></p>
            <h1 class="cover-heading ">Some lines About me.</h1>
            <p class="lead ">More lines yet to write and think.</p>
            <p class="lead ">
              <a href="#myCarousel" data-slide="next" class="btn btn-sm btn-default"><strong>Wherelse I have been to!</strong></a>
            </p>
          </div>
</div>
</div>
<div class="item">
<div class="travel">
<div class="inner cover">
            <h1 class="cover-heading">Some lines Where I have been to.</h1>
            <p class="lead">Image of an interactive map with markers.</p>
            <p class="lead">
              <a href="#myCarousel" data-slide="prev" class="btn btn-sm btn-default"><strong>About Me!</strong></a>
              <a href="#myCarousel" data-slide="next" class="btn btn-sm btn-default"><strong>What else I do!</strong></a>
            </p>
          </div>
</div>
</div>
<div class="item">
<div class="ido">
<div class="inner cover">
            <h1 class="cover-heading">Some lines about what i do.</h1>
            <p class="lead">More lines yet to write and think.</p>
            <p class="lead">
	      <a href="#myCarousel" data-slide="prev" class="btn btn-sm btn-default"><strong>Wherelse I have been to!</strong></a>
              <a href="#myCarousel" data-slide="next" class="btn btn-sm btn-default"><strong>About Me!</strong></a>
            </p>
          </div>
</div>
</div>

</div>
</div>
<!--/slider-->
<!--ends content here--->
</div>

          <div class="mastfoot">
            <div class="inner">
              
		<p style="color:#fff;" class="footpad">Find me @ <%=link_to "Facebook", "http://www.facebook.com/dn33r", :confirm => "I knew you are a facebook addict !"%>,<%=link_to "Twitter", "http://www.twitter.com/neeraj_das", :confirm => "I knew you are a twitttter!"%> or <%=link_to "Github", "http://github.com/inkgab", :confirm =>"You are now getting real" %></p>
            <p style="color:#fff;">Copyright &copy; <%=Time.now.year=%></p>
            </div>
          </div>

        </div>

      </div>

    </div>



