<% @title="work" %>   
<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">

            


              <div id="embossed"><h1 class="masthead-brand" data-toggle="tooltip" data-placement="bottom" title="Entrepreneur | Dreamer | Sylheti"><strong><u>|Neeraj Das|</u></strong></h1>

</div>

<div class="inner">
              <ul class="nav masthead-nav">
                 <li class=""><a href="http://neerajdas.herokuapp.com" data-toggle="tooltip" data-placement="bottom" title="About Me">Profile</a></li>
                <li class="active"><a href="/pages/work" data-toggle="tooltip" data-placement="bottom" title="My Works">Work</a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Me & friends">Blog</a></li>
              </ul>
            </div>
          </div>

<!--starts content here--->
<div class="inner cover">
            <h1 class="cover-heading">Some lines About My works.</h1>
          </div>
<div class="row inset cover-container">
  <div class="col-xs-12 col-sm-6 col-md-8">
  
  <div class="panel panel-default">

<div class="panel-body">
    <p class="lead text-left">Brands I had worked with</p>
  </div>
<ul class="list-group text-left">
    <li class="list-group-item">NIIT,Nagpur</li>
    <li class="list-group-item">QuickHeal,Pune</li>
    <li class="list-group-item">Wipro,Bangalore</li>
    <li class="list-group-item">Yahoo.inc,Bangalore</li>
    <li class="list-group-item">Inkgab Pvt. Ltd., Bangalore</li>
    <li class="list-group-item">Techstrada Pvt. Ltd., New Delhi</li>
    <li class="list-group-item">Techoweb Enterprise Pvt. Ltd., Gurgaon</li>
  </ul>
</div>


 </div>
  <div class="col-md-4">
<div class="panel panel-default">

<div class="panel-body">
<h4 class="text-left">Projects I was part of</h4>
    <ul class="list-group text-left">
    <li class="list-group-item"><a href="#"><%= image_tag("1.png",:size => "45x45",:alt => "Igml")%></a>| IGML</li>
    <li class="list-group-item"><a href="#"><%= image_tag("1.png",:size => "45x45",:alt => "Igml")%></a>| ZYNDA</li>
<li class="list-group-item"><a href="#"><%= image_tag("1.png",:size => "45x45",:alt => "Igml")%></a>| DOW</li>
    </ul>
    <p class="text-right">And many more</p>
  </div>
</div>
</div>
</div>



<!--ends content here--->

          <div class="mastfoot">
            <div class="inner">
              
		<p>Find me @ <%=link_to "Facebook", "http://www.facebook.com/dn33r", :confirm => "I knew you are a facebook addict !"%>,<%=link_to "Twitter", "http://www.twitter.com/neeraj_das", :confirm => "I knew you are a twitttter!"%> or <%=link_to "Github", "http://github.com/inkgab", :confirm =>"You are now getting real" %></p>
             <p>Copyright &copy; <%=Time.now.year=%></p>
            </div>
          </div>

        </div>

      </div>

    </div>

